*.png filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.acf filter=lfs diff=lfs merge=lfs -text
*.acb filter=lfs diff=lfs merge=lfs -text
*.awb filter=lfs diff=lfs merge=lfs -text
